@keyframes tvFlicker {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes tvFlicker2 {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}