@font-face {
    font-family: "Basis33";
    src: url("../fonts/basis33.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EEEEFF;
    font-family: "Inter", sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* весь блок */
.stage {
    position: relative;
    width: 100vw;
    aspect-ratio: 1440 / 900;
    overflow: hidden;
    transform: translateY(-5vh);
}

/* слои */
.block {
    z-index: 1;
}

.typo-top {
    z-index: 2;
}

.tv-wrap {
    z-index: 3;
}

.typo-bottom {
    z-index: 4;
}

/* синие блоки */
.block {
    position: absolute;
    background: #0200CD;
}

.b1 {
    left: 3%;
    top: 6%;
    width: 18%;
    height: 60%;
}

.b2 {
    right: 2%;
    top: 7%;
    width: 34%;
    height: 22%;
}

.b3 {
    left: 10%;
    bottom: 4%;
    width: 80%;
    height: 35%;
}

.b4 {
    right: 25%;
    top: 20%;
    width: 9%;
    height: 40%;
}

.b5 {
    left: 50%;
    bottom: 30%;
    width: 48%;
    height: 15%;
}

.b6 {
    left: 10%;
    bottom: 30%;
    width: 48%;
    height: 25%;
}

/* ФЕСТИВАЛЬ */
.typo {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.typo-top {
    position: absolute;
    left: 8%;
    top: 10%;
    display: flex;
    align-items: baseline;
    gap: 1.25vw;
}

.word {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1;
}

.word-top {
    font-size: 12.5vw;
    color: #0200CD;
}

.px {
    display: block;
    width: auto;
}

.px-f {
    height: 9.7vw;
    margin-right: 0.83vw;
}

.px-pair {
    display: flex;
    align-items: baseline;
}

.px-a {
    height: 10.45vw;
    margin-left: 0.7vw;
}

.px-l {
    height: 9vw;
    margin-left: -0.7vw;
}

/* ОШИБОК*/
.typo-bottom {
    position: absolute;
    left: 20%;
    bottom: 6%;
    display: flex;
    align-items: baseline;
    gap: 1.25vw;
}

.px-o {
    height: 12vw;
    transform: translateY(1vw);
}

.word-bottom {
    font-size: 13vw;
    color: #FFFFFF;
}

/* телек */
.tv-wrap {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv {
    width: 100%;
    height: auto;
    display: block;
}

.tv-screen {
    position: absolute;
    inset: 38.49% 15.34% 50.52% 18.09%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tv-text {
    color: #FFFFFF;
    font-family: "Basis33", sans-serif;
    font-size: 3.82vw;
    font-weight: 400;
    line-height: 1;
}